.container{
    display: flex;
    flex-wrap: wrap;
}

.container h1{
    margin-bottom: 30px;
}

.container p{
    font-size: 20px;
}
.baner img{
    width:100%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

