.formulario-direccion{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
 ;
}

.direccion{
    margin-bottom: 30px;
}

.contacto{
    margin-bottom: 30px;
}

.botonPedido{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-direccion.div.card{

}

.nombre-apellido{
    margin-bottom: 30px;
}
.numero-casa{
    margin-bottom: 30px;
}

.dir{
    display: flex;
}