
.container{
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card{
    margin: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);

}
.botonCard{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cardTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    

}