.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters{
    margin-left: 80px;
    display: flex;
}

.category{
    margin-right: 20px;
}

.filters select{
    width: 200px;
}

.baner{
    margin-bottom: 30px;
}



