.lista{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
}

.lista input{
    width: 50px;
}
.botonCarrito {
    margin-left: 30px;
    margin-right: 30px;

}

.card-body ul{
    margin-left: 0px;
    padding-left: 0px;
}
.cuerpo h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}


.cuerpo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.noOrdenada{
    margin-left: 5px;
}

.mama{
    display: flex;
    align-items: center;
    
    
}

.principio{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inputCarrito{
    margin-right: 30px;
    
}

.checkout-button button{
    margin-left: 90px;
    
}